<form>
  <div class="form-group">
    <label for="join-form-session-id-input">Session ID</label>
    <input type="text" id="join-form-session-id-input" class="form-control">
  </div>
  <div class="form-group">
    <label for="join-form-name-input">Your name</label>
    <input type="text" id="join-form-name-input" class="form-control">
    <small class="form-text text-muted">Must be alphabetic, can contain spaces.</small>
  </div>
  <button type="submit" class="btn btn-secondary">Join</button>
</form>
